<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Apex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E32921D620DB3CE60012C36D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E33A8B4720AE724D0067505E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3CE66CC20BFC9A4002A1E07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
